resource/
graph/data/
news_full_data/data_news/
news_full_data/data_features/
news_full_data/edge_data/
news_full_data/news_full_dataset_graph_data/
news_full_data/newsGraph/
news_full_data/saved_clusters/
news_full_data/saved_clusters/
.history
graph/community_output/
__pycache__
*.pyc
log
log_tensorboard
movie_full_data/data_movie/
moviesGraph
movie_full_data/edge_data/